src/cwmp/tr/schema/cwmp-1-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  CWMP XML Schema v1.2

  Notice:

  The Broadband Forum is a non-profit corporation organized to create
  guidelines for broadband network system development and deployment.
  This Broadband Forum Document has been approved by members of the
  Forum. This Broadband Forum Document is not binding on the Broadband
  Forum, any of its members, or any developer or service provider.
  This Broadband Forum Document is subject to change, but only with
  approval of members of the Forum.  This Document is copyrighted by
  the Broadband Forum, and all rights are reserved.  Portions of this
  Document may be copyrighted by Broadband Forum members.

  This Broadband Forum Document is provided AS IS, WITH ALL FAULTS.
  ANY PERSON HOLDING A COPYRIGHT IN THIS BROADBAND FORUM DOCUMENT,
  OR ANY PORTION THEREOF, DISCLAIMS TO THE FULLEST EXTENT PERMITTED
  BY LAW ANY REPRESENTATION OR WARRANTY, EXPRESS OR IMPLIED,
  INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY: 

  (a) OF ACCURACY, COMPLETENESS, MERCHANTABILITY, FITNESS FOR A
      PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE;
  (b) THAT THE CONTENTS OF THIS BROADBAND FORUM DOCUMENT ARE SUITABLE
      FOR ANY PURPOSE, EVEN IF THAT PURPOSE IS KNOWN TO THE COPYRIGHT
      HOLDER;
  (c) THAT THE IMPLEMENTATION OF THE CONTENTS OF THE DOCUMENT WILL NOT
      INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR
      OTHER RIGHTS.

  By using this Broadband Forum Document, users acknowledge that
  implementation may require licenses to patents.  The Broadband Forum
  encourages but does not require its members to identify such
  patents.  For a list of declarations made by Broadband Forum member
  companies, please see http://www.broadband-forum.org.  No assurance
  is given that licenses to patents necessary to implement this
  Document will be available for license at all or on reasonable and
  non-discriminatory terms.

  ANY PERSON HOLDING A COPYRIGHT IN THIS BROADBAND FORUM DOCUMENT, OR
  ANY PORTION THEREOF, DISCLAIMS TO THE FULLEST EXTENT PERMITTED BY
  LAW (A) ANY LIABILITY (INCLUDING DIRECT, INDIRECT, SPECIAL, OR
  CONSEQUENTIAL DAMAGES UNDER ANY LEGAL THEORY) ARISING FROM OR
  RELATED TO THE USE OF OR RELIANCE UPON THIS DOCUMENT; AND (B) ANY
  OBLIGATION TO UPDATE OR CORRECT THIS DOCUMENT.

  Broadband Forum Documents may be copied, downloaded, stored on a
  server or otherwise re-distributed in their entirety only, and may
  not be modified without the advance written permission of the
  Broadband Forum.

  The text of this notice must be included in all copies of this
  Broadband Forum Document.

  Summary:
  XML Schema for TR-069 CPE WAN Management Protocol (CWMP) v1.2 RPC requests
  and responses.

  Version History:
  November 2006: cwmp-1-0.xsd, extracted from TR-069 Amendment 1
  November 2007: cwmp-1-1.xsd, extracted from TR-069 Amendment 2
  November 2010: cwmp-1-2.xsd, extracted from TR-069 Amendment 3
  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
           xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
           xmlns:tns="urn:dslforum-org:cwmp-1-2"
           targetNamespace="urn:dslforum-org:cwmp-1-2"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

  <xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/"
             schemaLocation="http://schemas.xmlsoap.org/soap/envelope/"/>
  <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/"
             schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>


  <!--
        SOAP Header Elements
  -->
  <xs:element name="ID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="soapenv:mustUnderstand" use="required" fixed="1"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="HoldRequests">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:boolean">
          <xs:attribute ref="soapenv:mustUnderstand" use="required" fixed="1"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>


  <!-- 
    Extendable Fault Code Type Definitions
  -->
  <xs:simpleType name="CPEFaultCodeType">
    <xs:annotation>
      <xs:documentation>
        CPE Fault Codes from 9000 to 9799
          * 9000 - Method not supported
          * 9001 - Request denied (no reason specified)
          * 9002 - Internal error
          * 9003 - Invalid arguments
          * 9004 - Resources exceeded
          * 9005 - Invalid parameter name
          * 9006 - Invalid parameter type
          * 9007 - Invalid parameter value
          * 9008 - Attempt to set a non-writable parameter
          * 9009 - Notification request rejected
          * 9010 - File transfer failure
          * 9011 - Upload failure
          * 9012 - File transfer server authentication failure
          * 9013 - Unsupported protocol for file transfer
          * 9014 - File transfer failure: unable to join multicast group
          * 9015 - File transfer failure: unable to contact file server
          * 9016 - File transfer failure: unable to access file
          * 9017 - File transfer failure: unable to complete download
          * 9018 - File transfer failure: file corrupted
          * 9019 - File transfer failure: file authentication failure
          * 9020 - File transfer failure: unable to complete download within specified time windows
          * 9021 - Cancelation of file transfer not permitted in current transfer state
          * 9022 - Invalid UUID Format
          * 9023 - Unknown Execution Environment
          * 9024 - Disabled Execution Environment
          * 9025 - Deployment Unit to Execution Environment Mismatch
          * 9026 - Duplicate Deployment Unit
          * 9027 - System Resources Exceeded
          * 9028 - Unknown Deployment Unit
          * 9029 - Invalid Deployment Unit State
          * 9030 - Invalid Deployement Unit Update – Downgrade not permitted
          * 9031 - Invalid Deployement Unit Update – Version not specified
          * 9032 - Invalid Deployment Unit Update – Version already exists
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="9000"></xs:minInclusive>
      <xs:maxInclusive value="9799"></xs:maxInclusive>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CPEExtensionFaultCodeType">
    <xs:annotation>
      <xs:documentation>Range of CPE Fault Codes from 9033 to 9799 for future extension</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="9033"/>
      <xs:maxInclusive value="9799"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CPEVendorFaultCodeType">
    <xs:annotation>
      <xs:documentation>Vendor Extension range for CPE Fault Codes from 9800 to 9899</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="9800"></xs:minInclusive>
      <xs:maxInclusive value="9899"></xs:maxInclusive>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ACSFaultCodeType">
    <xs:annotation>
      <xs:documentation>
        ACS Fault Codes from 8000 to 8005
          * 8000 - Method not supported
          * 8001 - Request denied (no reason specified)
          * 8002 - Internal error
          * 8003 - Invalid arguments
          * 8004 - Resources exceeded
          * 8005 - Retry request
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="8000"></xs:minInclusive>
      <xs:maxInclusive value="8799"></xs:maxInclusive>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ACSVendorFaultCodeType">
    <xs:annotation>
      <xs:documentation>Vendor Extension range for ACS Fault Codes from 8800 to 8899</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="8800"></xs:minInclusive>
      <xs:maxInclusive value="8899"></xs:maxInclusive>
    </xs:restriction>
  </xs:simpleType>
  
  
  <!-- 
    Extendable File Type Definitions
  -->
  <xs:simpleType name="TransferFileType">
    <xs:annotation>
      <xs:documentation>
        This type is used for AllQueuedTransferStruct and AutonomousTransferComplete
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
      <xs:pattern value="[1-9]\d*( \S+)+">
        <xs:annotation>
          <xs:documentation>
            This pattern allows the following File Types:
              * 1 Firmware Upgrade Image
              * 2 Web Content
              * 3 Vendor Configuration File
              * 4 Vendor Log File
              * 4 Tone File
              * 5 Ringer File
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="[1-9]\d*( \S+)+ [1-9]\d*">
        <xs:annotation>
          <xs:documentation>
            This pattern allows the following File Types:
              * 6 Vendor Configuration File [1-9]\d*
              * 7 Vendor Log File [1-9]\d*
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="X [0-9A-F]{6} .+"/>
      <xs:pattern value="X \S+ .+"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="DownloadFileType">
    <xs:annotation>
      <xs:documentation>This type is used for Download and RequestDownload</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
      <xs:pattern value="[1-9]\d*( \S+)+">
        <xs:annotation>
          <xs:documentation>
            This pattern allows the following File Types:
              * 1 Firmware Upgrade Image
              * 2 Web Content
              * 3 Vendor Configuration File
              * 4 Tone File
              * 5 Ringer File
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="X [0-9A-F]{6} .+"/>
      <xs:pattern value="X \S+ .+"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="UploadFileType">
    <xs:annotation>
      <xs:documentation>This type is used for Upload</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
      <xs:pattern value="[1-9]\d*( \S+)+">
        <xs:annotation>
          <xs:documentation>
            This pattern allows the following File Types:
              * 1 Vendor Configuration File
              * 2 Vendor Log File
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="[1-9]\d*( \S+)+ [1-9]\d*">
        <xs:annotation>
          <xs:documentation>
            This pattern allows the following File Types:
              * 3 Vendor Configuration File [1-9]\d*
              * 4 Vendor Log File [1-9]\d*
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="X [0-9A-F]{6} .+"/>
      <xs:pattern value="X \S+ .+"/>
    </xs:restriction>
  </xs:simpleType>
  
  
  <!-- 
    Extendable Event Code Definition
  -->
  <xs:simpleType name="EventCodeType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
      <xs:pattern value="\d+( \S+)+">
        <xs:annotation>
          <xs:documentation>
            This pattern allows the following Event Codes:
              * 0 BOOTSTRAP
              * 1 BOOT
              * 2 PERIODIC
              * 3 SCHEDULED
              * 4 VALUE CHANGE
              * 5 KICKED
              * 6 CONNECTION REQUEST
              * 7 TRANSFER COMPLETE
              * 8 DIAGNOSTICS COMPLETE
              * 9 REQUEST DOWNLOAD
              * 10 AUTONOMOUS TRANSFER COMPLETE
              * 11 DU STATE CHANGE COMPLETE
              * 12 AUTONOMOUS DU STATE CHANGE COMPLETE
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="M \S+">
        <xs:annotation>
          <xs:documentation>
            This pattern allows the following Event Codes:
              * M Reboot
              * M ScheduleInform
              * M Download
              * M ScheduleDownload
              * M Upload
              * M ChangeDUState
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="M X_\S+"/> <!-- no spaces in method names -->
      <xs:pattern value="X [0-9A-F]{6} .+"/>
      <xs:pattern value="X \S+ .+"/>
    </xs:restriction>
  </xs:simpleType>
  
  
  <!-- 
    Extendable Time Window Mode Definition
  -->
  <xs:simpleType name="TimeWindowModeValueType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
      <xs:pattern value="[1-9]\d*( \S+)+">
        <xs:annotation>
          <xs:documentation>
            This pattern allows the following Time Window Modes:
              * 1 At Any Time
              * 2 Immediately
              * 3 When Idle
              * 4 Confirmation Needed
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="X [0-9A-F]{6} .+"/>
      <xs:pattern value="X \S+ .+"/>
    </xs:restriction>
  </xs:simpleType>
  
  
  <!-- 
    TransferComplete Fault Types
  -->
  <xs:simpleType name="TransferCompleteCPEFaultCodeType">
    <xs:annotation>
      <xs:documentation>
        Restricted subset of CPEFaultCodeType that are specific for the 
        TransferComplete and AutonomousTransferComplete RPCs
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="tns:CPEFaultCodeType">
      <xs:enumeration value="9001"/>
      <xs:enumeration value="9002"/>
      <xs:enumeration value="9010"/>
      <xs:enumeration value="9011"/>
      <xs:enumeration value="9012"/>
      <xs:enumeration value="9014"/>
      <xs:enumeration value="9015"/>
      <xs:enumeration value="9016"/>
      <xs:enumeration value="9017"/>
      <xs:enumeration value="9018"/>
      <xs:enumeration value="9019"/>
      <xs:enumeration value="9020"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="TransferCompleteFaultStruct">
    <xs:annotation>
      <xs:documentation>Fault information for TransferComplete and AutonomousTransferComplete</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FaultCode">
        <xs:annotation>
          <xs:documentation>Fault codes only related to TransferComplete RPCs</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union>
            <xs:simpleType>
              <xs:restriction base="xs:unsignedInt">
                <xs:enumeration value="0">
                  <xs:annotation>
                    <xs:documentation>No fault</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="tns:TransferCompleteCPEFaultCodeType"/>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="tns:CPEExtensionFaultCodeType"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="tns:CPEVendorFaultCodeType"></xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FaultString">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  
  <!-- 
    DUStateChangeComplete Fault Types
  -->
  <xs:simpleType name="DeploymentUnitCPEFaultCodeType">
    <xs:annotation>
      <xs:documentation>
        Restricted subset of CPEFaultCodeType that are specific for a single operation 
        in the DUStateChangeComplete and AutonomousDUStateChangeComplete RPCs
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="tns:CPEFaultCodeType">
      <xs:enumeration value="9001"/>
      <xs:enumeration value="9003"/>
      <xs:enumeration value="9012"/>
      <xs:enumeration value="9013"/>
      <xs:enumeration value="9015"/>
      <xs:enumeration value="9016"/>
      <xs:enumeration value="9017"/>
      <xs:enumeration value="9018"/>
      <xs:enumeration value="9022"/>
      <xs:enumeration value="9023"/>
      <xs:enumeration value="9024"/>
      <xs:enumeration value="9025"/>
      <xs:enumeration value="9026"/>
      <xs:enumeration value="9027"/>
      <xs:enumeration value="9028"/>
      <xs:enumeration value="9029"/>
      <xs:enumeration value="9030"/>
      <xs:enumeration value="9031"/>
      <xs:enumeration value="9032"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="DeploymentUnitFaultStruct">
    <xs:annotation>
      <xs:documentation>
        Structure used to convey success or failure status of an operation performed on a Deployment Unit
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FaultCode">
        <xs:annotation>
          <xs:documentation>Fault codes only related to DUStateChangeComplete RPCs</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union>
            <xs:simpleType>
              <xs:restriction base="xs:unsignedInt">
                <xs:enumeration value="0">
                  <xs:annotation>
                    <xs:documentation>No fault</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="tns:DeploymentUnitCPEFaultCodeType"/>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="tns:CPEExtensionFaultCodeType"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="tns:CPEVendorFaultCodeType"></xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FaultString" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            An optional detail message providing further context for the fault 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <!--
    Generic Type Definitions
  -->
  <xs:simpleType name="CommandKeyType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ObjectNameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="256"/>
      <xs:pattern value=".*\."/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ParameterKeyType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="ParameterNames">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="string" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="256"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="ParameterValueStruct">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Value" type="xs:anySimpleType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ParameterValueList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="ParameterValueStruct" type="tns:ParameterValueStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  
  <!--
    GetRPCMethods Type Definition
  -->
  <xs:complexType name="MethodList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="string" maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="64"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  

  <!--
    Inform Type Definitions
  -->
  <xs:complexType name="DeviceIdStruct">
    <xs:sequence>
      <xs:element name="Manufacturer">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OUI">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="6"/>
            <xs:pattern value="[0-9A-F]{6}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ProductClass">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SerialNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EventStruct">
    <xs:sequence>
      <xs:element name="EventCode" type="tns:EventCodeType"/>
      <xs:element name="CommandKey" type="tns:CommandKeyType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EventList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="EventStruct" type="tns:EventStruct" minOccurs="0" maxOccurs="64"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <!--
    Get Parameter Names Type Definitions
  -->
  <xs:complexType name="ParameterInfoStruct">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Writable" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ParameterInfoList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="ParameterInfoStruct" type="tns:ParameterInfoStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  
  
  <!-- 
    Get/Set Parameter Attributes Type Definitions
  -->
  <xs:simpleType name="AccessListValueType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
      <xs:enumeration value="Subscriber"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AccessList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="string" type="tns:AccessListValueType" 
                      minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="ParameterAttributeNotificationValueType">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Notification off. The CPE need not inform the ACS of a change to the specified parameter(s)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Passive notification. Whenever the specified parameter value changes, the CPE MUST include the new value in the ParameterList in the Inform message that is sent the next time a session is established to the ACS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Active notification. Whenever the specified parameter value changes, the CPE MUST initiate a session to the ACS, and include the new value in the ParameterList in the associated Inform message</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Reserved for future use</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Reserved for future use</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>Reserved for future use</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:documentation>Reserved for future use</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SetParameterAttributesStruct">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NotificationChange" type="xs:boolean"/>
      <xs:element name="Notification" type="tns:ParameterAttributeNotificationValueType"/>
      <xs:element name="AccessListChange" type="xs:boolean"/>
      <xs:element name="AccessList" type="tns:AccessList"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="SetParameterAttributesList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="SetParameterAttributesStruct" type="tns:SetParameterAttributesStruct" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ParameterAttributeStruct">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Notification" type="tns:ParameterAttributeNotificationValueType"/>
      <xs:element name="AccessList" type="tns:AccessList"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ParameterAttributeList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="ParameterAttributeStruct" type="tns:ParameterAttributeStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  

  <!-- 
    Schedule Download Time Window Type Definitions
  -->
  <xs:complexType name="TimeWindowStruct">
    <xs:sequence>
      <xs:element name="WindowStart" type="xs:unsignedInt"/>
      <xs:element name="WindowEnd" type="xs:unsignedInt"/>
      <xs:element name="WindowMode" type="tns:TimeWindowModeValueType"/>
      <xs:element name="UserMessage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MaxRetries" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TimeWindowList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="TimeWindowStruct" type="tns:TimeWindowStruct" maxOccurs="2"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  
  <!-- 
    TransferComplete Type Definitions
  -->
  <xs:simpleType name="TransferStateType">
    <xs:restriction base="xs:int">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Not yet started</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>In progress</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Completed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="QueuedTransferStruct">
    <xs:sequence>
      <xs:element name="CommandKey" type="tns:CommandKeyType"/>
      <xs:element name="State" type="tns:TransferStateType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TransferList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="QueuedTransferStruct" type="tns:QueuedTransferStruct" minOccurs="0" maxOccurs="16"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AllQueuedTransferStruct">
    <xs:sequence>
      <xs:element name="CommandKey" type="tns:CommandKeyType"/>
      <xs:element name="State" type="tns:TransferStateType"/>
      <xs:element name="IsDownload" type="xs:boolean"/>
      <xs:element name="FileType" type="tns:TransferFileType"/>
      <xs:element name="FileSize" type="xs:unsignedInt"/>
      <xs:element name="TargetFileName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AllTransferList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="AllQueuedTransferStruct" type="tns:AllQueuedTransferStruct" minOccurs="0" maxOccurs="16"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  
  <!-- 
    Software Module Management Type Definitions
  -->
  <xs:simpleType name="DeploymentUnitUUID">
    <xs:annotation>
      <xs:documentation>
        A unique identifier for a Deployment Unit
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="DeploymentUnitState">
    <xs:annotation>
      <xs:documentation>
        The state of a Deployment Unit on the device
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Installed">
        <xs:annotation>
          <xs:documentation>
            The Deployment Unit has been Installed.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Uninstalled">
        <xs:annotation>
          <xs:documentation>
            The Deployment Unit has been Uninstalled.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Failed">
        <xs:annotation>
          <xs:documentation>
            The Deployment Unit Installed failed such that the Deployment Unit instance
            could not be created.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="DefaultDeploymentUnitOperationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Install">
        <xs:annotation>
          <xs:documentation>
            Install of a Deployment Unit
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Update">
        <xs:annotation>
          <xs:documentation>
            Update of a Deployment Unit
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Uninstall">
        <xs:annotation>
          <xs:documentation>
            Uninstall of a Deployment Unit
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
    
  <xs:simpleType name="DeploymentUnitOperationType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="tns:DefaultDeploymentUnitOperationType"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:annotation>
            <xs:documentation>
              Vendor specific operation types
            </xs:documentation>
          </xs:annotation>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  
  <xs:complexType name="OperationStruct" abstract="true">
    <xs:annotation>
      <xs:documentation>
        A base type for Deployment Unit operations that can be performed on a device
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  
  <xs:complexType name="InstallOpStruct">
    <xs:annotation>
      <xs:documentation>
        An operation indicating a Deployment Unit should be installed
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:OperationStruct">
        <xs:sequence>
          <xs:element name="URL" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The URL of the Deployment Unit to download
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:anyURI">
                <xs:maxLength value="1024" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="UUID" type="tns:DeploymentUnitUUID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The UUID to be used for the Deployment Unit being installed.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Username" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                An optional username with which to authenticate against the url
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="256" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="Password" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                An optional password with which to authenticate against the url
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="256" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="ExecutionEnvRef" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                A reference to the Execution Environment upon which the Deployment Unit
                is to be associated (e.g., ".SoftwareModules.ExecEnv.1.")
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="256" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="UpdateOpStruct">
    <xs:annotation>
      <xs:documentation>
        An operation indicating an individual or all Deployment Units should be updated
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:OperationStruct">
        <xs:sequence>
          <xs:element name="UUID" type="tns:DeploymentUnitUUID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The UUID of the Deployment Unit to update. If the UUID is not present and the URL is 
                present then the URL will be used to determine the Deployment Unit to update. If both 
                the UUID and the URL are not specified, the operation indicates all installed 
                Deployment Units should be updated.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                An optional Version used to clarify which Deployment Unit to update.
                Only required in the case where multiple versions of the same Deployment Unit
                are installed on the device, in which case if not specified the update request
                will be rejected.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="32" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="URL" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The URL to be used when updating a Deployment Unit.  If a UUID is 
                provided and the URL is present then it serves as an updated URL 
                for the existing installed Deployment Unit.  If the UUID is not
                present and the URL is, it is used to determine the Deployment Unit
                to update.  If neither the URL or UUID is specified then all 
                Deployment Units are to be updated.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:anyURI">
                <xs:maxLength value="1024" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="Username" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                An optional username with which to authenticate against the url
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="256" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="Password" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                An optional password with which to authenticate against the url
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="256" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="UninstallOpStruct">
    <xs:annotation>
      <xs:documentation>
        An operation indicating a Deployment Unit should be un-installed
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:OperationStruct">
        <xs:sequence>
          <xs:element name="UUID" type="tns:DeploymentUnitUUID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The UUID of the Deployment Unit to un-install
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                An optional Version used to clarify which Deployment Unit to uninstall.
                If not specified and there are multiple versions of the same Deployment Unit
                installed on the device, then all of them will be uninstalled.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="32" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="ExecutionEnvRef" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                A reference to the Execution Environment upon which the Deployment Unit
                is to be removed from (e.g., ".SoftwareModules.ExecEnv.1.")
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="256" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OpResultStruct">
    <xs:annotation>
      <xs:documentation>
        The result of a Deployment Unit operation performed on the device
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UUID" type="tns:DeploymentUnitUUID" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The UUID of the affected Deployment Unit
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeploymentUnitRef" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A reference to the affected Deployment Unit 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Version" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The Version of the affected Deployment Unit
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CurrentState" type="tns:DeploymentUnitState" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The current state of the affected Deployment Unit after performing the operation
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Resolved" type="xs:boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Whether or not the Deployment Unit resolved all of its dependencies after the 
            Installation or Update
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutionUnitRefList" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A comma-separated list of execution unit references (e.g., ".SoftwareModules.ExecutionUnit.2, .SoftwareModules.ExecutionUnit.3").
            In the case of an install, the execution units are those created by the operation.  In
            the case of an uninstall, the execution units are those removed by the operation.  In 
            the case of an update, the execution units are those that remain after the operation
            has completed.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The time on the device the operation on the affected Deployment Unit started. If the
            CPE cannot determine this, then the value should be the Unknown Time value.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompleteTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The time on the device the operation on the affected Deployment Unit completed (successfully
            or otherwise). If the CPE cannot determine this, then the value should be the Unknown Time
            value.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Fault" type="tns:DeploymentUnitFaultStruct" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Fault structure conveying the success or, in the case of failure, reason for the failure,
            of the operation
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AutonOpResultStruct">
    <xs:annotation>
      <xs:documentation>
        The result of a Deployment Unit operation performed autonomously on the device (i.e., not at the
        direct request of the ACS)
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:OpResultStruct">
        <xs:sequence>
          <xs:element name="OperationPerformed" type="tns:DeploymentUnitOperationType" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The operation that was performed against the deployment unit
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- 
    Voucher and Option Type Definitions
  -->
  <xs:complexType name="VoucherList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="base64" type="soapenc:base64" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OptionStruct">
    <xs:sequence>
      <xs:element name="OptionName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="VoucherSN" type="xs:unsignedInt"/>
      <xs:element name="State">
        <xs:simpleType>
          <xs:restriction base="xs:unsignedInt">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>Option is disabled and not setup</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Option is enabled and not setup</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>Option is disabled and setup</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>Option is enabled and setup</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Mode">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>0 - Disabled</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>1 - Enabled with expiration</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>2 - Enabled without expiration</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StartDate" type="xs:dateTime"/>
      <xs:element name="ExpirationDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="IsTransferable">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>Non-transferable</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Transferable</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="OptionList">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="OptionStruct" type="tns:OptionStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArgStruct">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Value">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="FileTypeArg">
    <xs:complexContent>
      <xs:restriction base="soapenc:Array">
        <xs:sequence>
          <xs:element name="ArgStruct" type="tns:ArgStruct" minOccurs="0" maxOccurs="16"/>
        </xs:sequence>
        <xs:attribute ref="soapenc:arrayType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  
  <!-- 
    Fault Definition
  -->
  <xs:element name="Fault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FaultCode">
          <xs:simpleType>
            <xs:union>
              <xs:simpleType>
                <xs:restriction base="tns:CPEFaultCodeType"></xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="tns:CPEVendorFaultCodeType"></xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="tns:ACSFaultCodeType"></xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="tns:ACSVendorFaultCodeType"></xs:restriction>
              </xs:simpleType>
            </xs:union>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FaultString" type="xs:string" minOccurs="0"/>
        <xs:element name="SetParameterValuesFault" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ParameterName" type="xs:string"/>
              <xs:element name="FaultCode">
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="tns:CPEFaultCodeType"></xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="tns:CPEVendorFaultCodeType"></xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FaultString" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  

  <!--
       Generic RPC Messages - Annex A.3.1
  -->
  <!-- GetRPCMethods -->
  <xs:element name="GetRPCMethods">
    <xs:annotation>
      <xs:documentation>GeRPCMethods message - Annex A.3.1.1</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- GetRPCMethodsResponse -->
  <xs:element name="GetRPCMethodsResponse">
    <xs:annotation>
      <xs:documentation>GeRPCMethodsResponse message - Annex A.3.1.1</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MethodList" type="tns:MethodList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!--
       CPE messages - Annex A.3.2
  -->
  <!-- SetParameterValues -->
  <xs:element name="SetParameterValues">
    <xs:annotation>
      <xs:documentation>SetParameterValues message - Annex A.3.2.1</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ParameterList" type="tns:ParameterValueList"/>
        <xs:element name="ParameterKey" type="tns:ParameterKeyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- SetParameterValuesResponse -->
  <xs:element name="SetParameterValuesResponse">
    <xs:annotation>
      <xs:documentation>SetParameterValuesResponse message - Annex A.3.2.1</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Status">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:enumeration value="0">
                <xs:annotation>
                  <xs:documentation>All Parameter changes have been validated and applied</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="1">
                <xs:annotation>
                  <xs:documentation>All Parameter changes have been validated and committed, but some or all are not yet applied (for example, if a reboot is required before the new values are applied)</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- GetParameterValues -->
  <xs:element name="GetParameterValues">
    <xs:annotation>
      <xs:documentation>GetParameterValues message - Annex A.3.2.2</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ParameterNames" type="tns:ParameterNames"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- GetParameterValuesResponse -->
  <xs:element name="GetParameterValuesResponse">
    <xs:annotation>
      <xs:documentation>GetParameterValuesResponse message - Annex A.3.2.2</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ParameterList" type="tns:ParameterValueList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- GetParameterNames -->
  <xs:element name="GetParameterNames">
    <xs:annotation>
      <xs:documentation>GetParameterNames message - Annex A.3.2.3</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ParameterPath">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NextLevel" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- GetParameterNamesResponse -->
  <xs:element name="GetParameterNamesResponse">
    <xs:annotation>
      <xs:documentation>GetParameterNamesResponse message - Annex A.3.2.3</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ParameterList" type="tns:ParameterInfoList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- SetParameterAttributes -->
  <xs:element name="SetParameterAttributes">
    <xs:annotation>
      <xs:documentation>SetParameterAttributes message - Annex A.3.2.4</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ParameterList" type="tns:SetParameterAttributesList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- SetParameterAttributesResponse -->
  <xs:element name="SetParameterAttributesResponse">
    <xs:annotation>
      <xs:documentation>SetParameterAttributesResponse message - Annex A.3.2.4</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- GetParameterAttributes -->
  <xs:element name="GetParameterAttributes">
    <xs:annotation>
      <xs:documentation>GetParameterAttributes message - Annex A.3.2.5</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ParameterNames" type="tns:ParameterNames"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- GetParameterAttributesResponse -->
  <xs:element name="GetParameterAttributesResponse">
    <xs:annotation>
      <xs:documentation>GetParameterAttributesResponse message - Annex A.3.2.5</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ParameterList" type="tns:ParameterAttributeList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- AddObject -->
  <xs:element name="AddObject">
    <xs:annotation>
      <xs:documentation>AddObject message - Annex A.3.2.6</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ObjectName" type="tns:ObjectNameType"/>
        <xs:element name="ParameterKey" type="tns:ParameterKeyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- AddObjectResponse -->
  <xs:element name="AddObjectResponse">
    <xs:annotation>
      <xs:documentation>AddObjectResponse message - Annex A.3.2.6</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="InstanceNumber">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedInt">
              <xs:minInclusive value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Status">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:enumeration value="0">
                <xs:annotation>
                  <xs:documentation>The object has been created</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="1">
                <xs:annotation>
                  <xs:documentation>The object creation has been validated and committed, but not yet applied</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- DeleteObject -->
  <xs:element name="DeleteObject">
    <xs:annotation>
      <xs:documentation>DeleteObject message - Annex A.3.2.7</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ObjectName" type="tns:ObjectNameType"/>
        <xs:element name="ParameterKey" type="tns:ParameterKeyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- DeleteObjectResponse -->
  <xs:element name="DeleteObjectResponse">
    <xs:annotation>
      <xs:documentation>DeleteObjectResponse message - Annex A.3.2.7</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Status">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:enumeration value="0">
                <xs:annotation>
                  <xs:documentation>The object has been deleted</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="1">
                <xs:annotation>
                  <xs:documentation>The object deletion has been validated and committed, but not yet applied</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Download -->
  <xs:element name="Download">
    <xs:annotation>
      <xs:documentation>Download message - Annex A.3.2.8</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CommandKey" type="tns:CommandKeyType"/>
        <xs:element name="FileType" type="tns:DownloadFileType"/>
        <xs:element name="URL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Username">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Password">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FileSize" type="xs:unsignedInt"/>
        <xs:element name="TargetFileName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DelaySeconds" type="xs:unsignedInt"/>
        <xs:element name="SuccessURL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FailureURL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- DownloadResponse -->
  <xs:element name="DownloadResponse">
    <xs:annotation>
      <xs:documentation>DownloadResponse message - Annex A.3.2.8</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Status">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:enumeration value="0">
                <xs:annotation>
                  <xs:documentation>Download has completed and been applied</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="1">
                <xs:annotation>
                  <xs:documentation>Download has not yet been completed and applied</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="StartTime" type="xs:dateTime"/>
        <xs:element name="CompleteTime" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Reboot -->
  <xs:element name="Reboot">
    <xs:annotation>
      <xs:documentation>Reboot message - Annex A.3.2.9</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CommandKey" type="tns:CommandKeyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- RebootResponse -->
  <xs:element name="RebootResponse">
    <xs:annotation>
      <xs:documentation>RebootResponse message - Annex A.3.2.9</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>


  <!--
       Optional CPE messages - Annex A.4.1
  -->
  <!-- GetQueuedTransfers -->
  <xs:element name="GetQueuedTransfers">
    <xs:annotation>
      <xs:documentation>GetQueuedTransfers message - Annex A.4.1.1</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- GetQueuedTransfersResponse -->
  <xs:element name="GetQueuedTransfersResponse">
    <xs:annotation>
      <xs:documentation>GetQueuedTransfersResponse message - Annex A.4.1.1</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransferList" type="tns:TransferList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ScheduleInform -->
  <xs:element name="ScheduleInform">
    <xs:annotation>
      <xs:documentation>ScheduleInform message - Annex A.4.1.2</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DelaySeconds" type="xs:unsignedInt"/>
        <xs:element name="CommandKey" type="tns:CommandKeyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ScheduleInformResponse -->
  <xs:element name="ScheduleInformResponse">
    <xs:annotation>
      <xs:documentation>ScheduleInformResponse message - Annex A.4.1.2</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- SetVouchers -->
  <xs:element name="SetVouchers">
    <xs:annotation>
      <xs:documentation>SetVouchers message - Annex A.4.1.3</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VoucherList" type="tns:VoucherList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- SetVouchersResponse -->
  <xs:element name="SetVouchersResponse">
    <xs:annotation>
      <xs:documentation>SetVouchersResponse message - Annex A.4.1.3</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- GetOptions -->
  <xs:element name="GetOptions">
    <xs:annotation>
      <xs:documentation>GetOptions message - Annex A.4.1.4</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OptionName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="64"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- GetOptionsResponse -->
  <xs:element name="GetOptionsResponse">
    <xs:annotation>
      <xs:documentation>GetOptionsResponse message - Annex A.4.1.4</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OptionList" type="tns:OptionList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Upload -->
  <xs:element name="Upload">
    <xs:annotation>
      <xs:documentation>Upload message - Annex A.4.1.5</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CommandKey" type="tns:CommandKeyType"/>
        <xs:element name="FileType" type="tns:UploadFileType"/>
        <xs:element name="URL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Username">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Password">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DelaySeconds" type="xs:unsignedInt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- UploadResponse -->
  <xs:element name="UploadResponse">
    <xs:annotation>
      <xs:documentation>UploadResponse message - Annex A.4.1.5</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Status">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:enumeration value="0">
                <xs:annotation>
                  <xs:documentation>Upload has been completed</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="1">
                <xs:annotation>
                  <xs:documentation>Upload has not yet completed</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="StartTime" type="xs:dateTime"/>
        <xs:element name="CompleteTime" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- FactoryReset -->
  <xs:element name="FactoryReset">
    <xs:annotation>
      <xs:documentation>FactoryReset message - Annex A.4.1.6</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- FactoryResetResponse -->
  <xs:element name="FactoryResetResponse">
    <xs:annotation>
      <xs:documentation>FactoryResetResponse message - Annex A.4.1.6</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- GetAllQueuedTransfers -->
  <xs:element name="GetAllQueuedTransfers">
    <xs:annotation>
      <xs:documentation>GetAllQueuedTransfers message - Annex A.4.1.7</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- GetAllQueuedTransfersResponse -->
  <xs:element name="GetAllQueuedTransfersResponse">
    <xs:annotation>
      <xs:documentation>GetAllQueuedTransfersResponse message - Annex A.4.1.7</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransferList" type="tns:AllTransferList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ScheduleDownload -->
  <xs:element name="ScheduleDownload">
    <xs:annotation>
      <xs:documentation>ScheduleDownload message - Annex A.4.1.8</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CommandKey" type="tns:CommandKeyType"/>
        <xs:element name="FileType" type="tns:DownloadFileType"/>
        <xs:element name="URL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Username">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Password">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FileSize" type="xs:unsignedInt"/>
        <xs:element name="TargetFileName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TimeWindowList" type="tns:TimeWindowList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ScheduleDownloadResponse -->
  <xs:element name="ScheduleDownloadResponse">
    <xs:annotation>
      <xs:documentation>ScheduleDownloadResponse message - Annex A.4.1.8</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- CancelTransfer -->
  <xs:element name="CancelTransfer">
    <xs:annotation>
      <xs:documentation>CancelTransfer message - Annex A.4.1.9</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CommandKey" type="tns:CommandKeyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- CancelTransferResponse -->
  <xs:element name="CancelTransferResponse">
    <xs:annotation>
      <xs:documentation>CancelTransferResponse message - Annex A.4.1.9</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>
  
  <!-- ChangeDUState -->
  <xs:element name="ChangeDUState">
    <xs:annotation>
      <xs:documentation>
        A request to perform an action on a Deployment Unit on the device
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Operations" type="tns:OperationStruct" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              The operations to be performed. The content of an operation is contained within the operation
              sub-type.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CommandKey" type="tns:CommandKeyType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              An optional command key used to correlate future results of the operation or changes made to
              the device as a result of the operation.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- ChangeDUStateResponse -->
  <xs:element name="ChangeDUStateResponse">
    <xs:annotation>
      <xs:documentation>
        Response to a ChangeDUState message
      </xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>
  
  <!--
       ACS messages - Annex A.3.3
  -->
  <!-- Inform -->
  <xs:element name="Inform">
    <xs:annotation>
      <xs:documentation>Inform message - Annex A.3.3.1</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DeviceId" type="tns:DeviceIdStruct"/>
        <xs:element name="Event" type="tns:EventList"/>
        <xs:element name="MaxEnvelopes" type="xs:unsignedInt"/>
        <xs:element name="CurrentTime" type="xs:dateTime"/>
        <xs:element name="RetryCount" type="xs:unsignedInt"/>
        <xs:element name="ParameterList" type="tns:ParameterValueList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- InformResponse -->
  <xs:element name="InformResponse">
    <xs:annotation>
      <xs:documentation>InformResponse message - Annex A.3.3.1</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MaxEnvelopes" type="xs:unsignedInt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- TransferComplete -->
  <xs:element name="TransferComplete">
    <xs:annotation>
      <xs:documentation>TransferComplete message - Annex A.3.3.2</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CommandKey" type="tns:CommandKeyType"/>
        <xs:element name="FaultStruct" type="tns:TransferCompleteFaultStruct"/>
        <xs:element name="StartTime" type="xs:dateTime"/>
        <xs:element name="CompleteTime" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- TransferCompleteResponse -->
  <xs:element name="TransferCompleteResponse">
    <xs:annotation>
      <xs:documentation>TransferCompleteResponse message - Annex A.3.3.2</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- AutonomousTransferComplete -->
  <xs:element name="AutonomousTransferComplete">
    <xs:annotation>
      <xs:documentation>AutonomousTransferComplete message - Annex A.3.3.3</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AnnounceURL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="1024"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TransferURL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="1024"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="IsDownload" type="xs:boolean"/>
        <xs:element name="FileType" type="tns:TransferFileType"/>
        <xs:element name="FileSize" type="xs:unsignedInt"/>
        <xs:element name="TargetFileName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FaultStruct" type="tns:TransferCompleteFaultStruct"/>
        <xs:element name="StartTime" type="xs:dateTime"/>
        <xs:element name="CompleteTime" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- AutonomousTransferCompleteResponse -->
  <xs:element name="AutonomousTransferCompleteResponse">
    <xs:annotation>
      <xs:documentation>AutonomousTransferCompleteResponse message - Annex A.3.3.3</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>


  <!--
       Optional ACS messages - Annex A.4.2
  -->
  <!-- Kicked -->
  <xs:element name="Kicked">
    <xs:annotation>
      <xs:documentation>Kicked message - Annex A.4.2.1</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Command">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Referer">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="64"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Arg">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Next">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="1024"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- KickedResponse -->
  <xs:element name="KickedResponse">
    <xs:annotation>
      <xs:documentation>KickedResponse message - Annex A.4.2.1</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NextURL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="1024"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- RequestDownload -->
  <xs:element name="RequestDownload">
    <xs:annotation>
      <xs:documentation>RequestDownload message - Annex A.4.2.2</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FileType" type="tns:DownloadFileType"/>
        <xs:element name="FileTypeArg" type="tns:FileTypeArg"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- RequestDownloadResponse -->
  <xs:element name="RequestDownloadResponse">
    <xs:annotation>
      <xs:documentation>RequestDownloadResponse message - Annex A.4.2.2</xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>
  
  <!-- DUStateChangeComplete -->
  <xs:element name="DUStateChangeComplete">
    <xs:annotation>
      <xs:documentation>
        A message indicating a prior ChangeDUState request to perform an action on a 
        Deployment Unit on the device has completed
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Results" type="tns:OpResultStruct" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              The results of the operation performed. The ordering of the operation results matches the
              order of the operations in the corresponding ChangeDUState message.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CommandKey" type="tns:CommandKeyType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              The command key specified in the corresponding ChangeDUState message, if any
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- DUStateChangeCompleteResponse -->
  <xs:element name="DUStateChangeCompleteResponse">
    <xs:annotation>
      <xs:documentation>
        Response to a DUStateChangeComplete message
      </xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>
  
  <!-- AutonomousDUStateChangeComplete -->
  <xs:element name="AutonomousDUStateChangeComplete">
    <xs:annotation>
      <xs:documentation>
        A message indicating an autonomous action for a Deployment Unit on the device has completed
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Results" type="tns:AutonOpResultStruct" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              The results of the operation performed
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- AutonomousDUStateChangeCompleteResponse -->
  <xs:element name="AutonomousDUStateChangeCompleteResponse">
    <xs:annotation>
      <xs:documentation>
        Response to a AutonomousDUStateChangeComplete message
      </xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>
  
</xs:schema>
